body {
  background-color: #a0c1b8;
}

table, th, td {border: 1px solid black; border-collapse: collapse;}

h1 {
  color: #0278ae;
  margin-left: 30%;
  margin-bottom: 100px;
  margin-top: 50px;
}

h2 {
  color: #cf7500;
}

.link {
  font-size: 25px;
  line-height: 1.5;
}

.titleImage{
  margin-left: 20px;
  line-height: 1.5;
}

.text {
  font-size: 20px;
  line-height: 1.5;
}

.XYZ_title {
  margin-left: 20%;
}
.Bergan_title {
  margin-left: 10%;
}
